*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    background-color: rgb(169, 91, 91);
}

main{
    background-color: rgb(58, 30, 84);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(49, 47, 47);
}